/*el body tiene que ser de color rojo con un margen de 500 oixeles*/

body {
    background-color: #f8f9fa;
}

.ticket {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.ticket h2 {
    margin-bottom: 20px;
}

.ticket p {
    margin: 5px 0;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
}
