<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/public/img/icons8-favicon-64.png" type="image/x-icon">
  <title>Factura</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/factura.css">
</head>

<body>
  <div class="ticket" id="factura">
    <h2 class="text-center">Factura</h2>
    <div class="mb-4">
      <h3>Datos de facturación</h3>
      <p><strong>Nombre:</strong> <span id="nombre"></span></p>
      <p><strong>Apellido:</strong> <span id="apellido"></span></p>
      <p><strong>DNI:</strong> <span id="dni"></span></p>
      <p><strong>Teléfono:</strong> <span id="telefono"></span></p>
    </div>

    <h3>Detalle de la compra</h3>
    <table id="tablaFactura" class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="productos-carrito">
            <!-- Los productos se agregarán aquí dinámicamente -->
        </tbody>
    </table>

    <!-- Mostrar el total -->
    <div id="total"></div>

  </div>
  <div class="option d-flex justify-content-center mt-4">
    <button id="botonDescarga" onclick="guardar()" class="btn btn-success mr-2">
      Descargar factura
    </button>
    <button id="botonVolver" onclick="regresar()" class="btn btn-success">
      Volver al inicio
    </button>
</div>

</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="/js/producto.js"></script>
  <script src="/js/factura.js"></script>
</body>

</html>